{% extends 'index.html' %}

{% block title %}<title>Asignacion Manual </title>{% endblock %}

{% block light-style %}
<style>
    .hidden {
        display: none;
    }

    .pagina {
        width: 10px;
        text-align: center;
        display: inline-block;
    }

    #asig-aula{
      border: 1px solid black;
      padding: 4px;
      border-radius: 4px;
      color: cadetblue;
    }
</style>
{% endblock %}

{% block body-content %}

<h1>Asignación Manual de Aulas</h1>
<div class="h-full sm:ml-72 pt-28 pb-8 flex flex-col items-center justify-center">
  <p>{{ mensaje }}</p>
    <h1>Asignación Manual de Aulas</h1>
  <form method="post" action="{% url 'asignar-aula' %}">
    {% csrf_token %}
    <label for="comision_bh">Selecciona una comisión:</label>
    <select name="comision_bh" id="comision_bh">
      <option value="" disabled selected>Selecciona una comisión</option>
      {% for comision in comisiones %}
        <option value="{{ comision.pk }}">{{ comision.comision_id}} - {{ comision.dia }} - {{ comision.hora_ini }} a {{ comision.hora_fin }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="aula">Selecciona un aula:</label>
    <select name="aula" id="aula">
      <option value="" disabled selected>Selecciona un aula</option>
      {% for aula in aulas %}
        <option value="{{ aula.id }}">{{ aula.nombre_combinado }}</option>
      {% endfor %}
    </select>
    <br>
    <button type="submit" id="asig-aula">Asignar Aula</button>
  </form>
</div>
{% endblock %}


