{% extends 'index.html' %}

{% block title %}<title>Asignacion Automática</title>{% endblock %}

{% block light-style %}
<style>
    .hidden {
        display: none;
    }

    .pagina {
        width: 10px;
        text-align: center;
        display: inline-block;
    }

    #ejecutar{
      border: 1px solid black;
      padding: 4px;
      border-radius: 4px;
      color: cadetblue;
    }
</style>
{% endblock %}

{% block body-content %}

    <div class="p-1 pl-7 sm:ml-64 mb-2">
    <h1>Asignación Automática de Aulas a Comisiones</h1>
    <div class="p-1 pl-7 sm:ml-[16.25rem]"> 
    <form action="/asignar-automaticamente/" method="post">
        {% csrf_token %}
        <button type="submit" id="ejecutar">Ejecutar Asignación Automática</button>
    </form>
    
    <button onclick="llamarFuncionDjango()">Ejecutar función Django</button>

    <!-- Resultado después de realizar la asignación Atomatica-->
    {% if comisiones_asignadas is not None and comisiones_no_asignadas is not None %}
        <h2>Resultados:</h2>
        <p>Comisiones asignadas: {{ comisiones_asignadas }}</p>
        <p>Comisiones no asignadas: {{ comisiones_no_asignadas }}</p>
    {% endif %}
</div></div>

{% endblock %}

{% block scripts %}<!-- Contenido -->
<script>
    function llamarFuncionDjango() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/ejecutar_funcion/');
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.onload = function() {
        console.log(xhr.status)
        if (xhr.status === 200) {
          var respuesta = JSON.parse(xhr.responseText);
          alert(respuesta.resultado); // Aquí obtienes la respuesta de la función Django
        } else {
          alert('Hubo un problema al llamar a la función Django.');
        }
      };
      xhr.send();
    }
  </script>
{% endblock %}