{% extends 'index.html' %}

{% block title %}<title>Comisiones sin asignar</title>{% endblock %}

{% block light-style %}
<style>
    .hidden {
        display: none;
    }

    .pagina {
        width: 10px;
        text-align: center;
        display: inline-block;
    }

    #asig-aula{
      border: 1px solid black;
      padding: 4px;
      border-radius: 4px;
      color: cadetblue;
    }
</style>
{% endblock %}

{% block body-content %}

<h1>Asignación Manual de Aulas</h1>
<div class="h-full sm:ml-72 pt-28 pb-8 flex flex-col items-center justify-center">
  <h1>
    {{ mensaje }}
  </h1>
  <a href="{% url 'seleccionar-comision-BH' %}" style="padding: 4px; border: 1px solid black; border-radius: 4px;">Aceptar</a>
</div>
{% endblock %}



